.doc
  +heading-font-family

.doc__body
  +vertical-padding(1)
  margin: 0 auto
  text-align: center

.doc__title
  +margin-bottom(1.5)
  +font-size(epsilon)
  text-transform: uppercase

.doc__name
  +font-size(smallprint)
  line-height: 1.2
  color: $grey
  +menu-font-family
  border-bottom: 1px solid $light-grey
  +padding-bottom(1.8)

.doc__meta
  +margin-top(1.5)
  +heading-font-family
  color: $black
  text-align: center
  +font-size(gamma)

.doc__bio
  +margin-top(1.5)
  +body-font-family
  color: $grey
  +font-size(smallprint)

.doc__text
  color: $white
  +font-size(delta)
  +padding-left(0)
  +padding-bottom(3)

  +at-breakpoint(desk)
    +padding-left(2)
    +padding-bottom(0)

.doc__doc
  width: 100%
  height: 10em
  background: image-url('federico_taddia.png') no-repeat center center
  background-size: contain
  margin-left: auto
  margin-right: auto
  border-bottom: 1px solid $light-grey
  background-color: $white

.doc__border
  border-right: none

  +at-breakpoint(lap)
    border-right: 1px solid $light-grey
    padding-right: 0.75em
