.doc
  +margin-top(1.5)
  +heading-font-family
  background-color: $green

.doc__body
  +vertical-padding(5)
  margin: 0 auto
  text-align: center

.doc__title
  +margin-bottom(1.5)
  +font-size(epsilon)
  text-transform: uppercase

.doc__name
  +font-size(gamma)
  line-height: 1.2
  color: $white

.doc__meta
  +margin-top(1.5)
  +body-font-family
  color: $red

.doc__text
  color: $white
  +font-size(delta)
  +padding-left(0)
  +padding-bottom(3)

  +at-breakpoint(desk)
    +padding-left(2)
    +padding-bottom(0)

.doc__doc
  width: 15em
  height: 15em
  background: image-url('federico_taddia.png') no-repeat center center
  background-size: cover
  margin-left: auto
  margin-right: auto
  border-radius: 50%
  border: 5px solid $blue
  background-color: $white
