.gallery
  background-color: $green
  width: 100%
  +margin-bottom(1.5)

.gallery__body
  +padding-bottom(3)

.gallery__item
  background-color: $white
  +vertical-margin(1.5)
  +padding(1)
  border-radius: 10px

.gallery__item__subtitle
  color: $orange
  +heading-font-family
  +font-size(smallprint)
  text-transform: uppercase

.gallery__item__title
  +margin-top(1.5)
  +margin-bottom(2)
  color: $blue
  +heading-font-family
  +font-size(delta)
  line-height: 1.2

.gallery__item__player
