.hero
  background-repeat: no-repeat
  background-position: center center
  background-color: $blue
  background-size: cover
  position: relative
  color: $white
  +margin-top(11)

.hero__body
  display: table
  width: 100%
  text-align: center
  +padding-top(7)

.hero__logo
  background: image-url('logo_insieme.png') no-repeat center center
  background-size: contain
  height: 15em
  position: absolute
  width: 14em
  left: 50%
  transform: translate(-50%, -50%)
  +margin-top(3)
  top: -3em

.hero__body__inner
  display: table-cell
  vertical-align: middle
  +vertical-padding(4)

.hero__heading
  +heading-font-family
  +font-size(alpha)
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 800px

.hero__text
  +body-font-family
  +font-size(delta)
  +margin-top(2)
  max-width: 750px
  margin-left: auto
  margin-right: auto

.hero__actions
  +margin-top(2)

.hero--primary
  @extend .hero
  background-color: $primary-color
  color: white

  .hero__text a
    color: white

+at-breakpoint(desk)
  .hero__heading
    +font-size(40px)

