.what
  @extend .hero
  background-color: $blue
  +margin-top(0)

  hr
    width: 60%
    margin-left: auto
    margin-right: auto
    height: 5px
    background: $blue
    background-image: linear-gradient(to right, $green, $blue, $green)
    border: 0

.what__body
  +padding-top(2)
  @extend .hero__body

.what__body__inner
  @extend .hero__body__inner

.what__logo
  background: image-url('logo.png') no-repeat center center
  background-size: contain
  height: 15em

.what__text
  @extend .hero__text
  +font-size(delta)
  color: white
  +margin-top(2)
  text-align: left
